@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Poppins", "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p, span, a, li, input, button {
  font-family: "Poppins", sans-serif;
}


:root {
  --sidebar-width: 15rem; /* Adjust the sidebar width as needed */
  --topbar-height: 3rem; /* Adjust the top bar height as needed */
  --right-column-width: 24%; /* Adjust the right column width as needed */
  --body-color: #f0f1f0;
  --sidebar-color: #FFFFFF;
  --primary-color: #8338eb;
  --primary-color-light: #F5F5F5;
  --toggle-color: #DDD;
  --text-color: #333333;
  --secondary-text-color: #7A7A7A;
  --dark-color: #000000;

  --status-orange: #FFB74E;
  --status-pink: #FF7E7E;
  --status-green: #72E06A;

  --button-color: #6B49FE;

  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.5s ease;
}

.body {
  height: 100vh;
  background-color: var(--body-color);
  transition: var(--trans-02);
}

.body.dark {
  --body-color: #181914;
  --sidebar-color: #242526;
  --primary-color: #34383c;
  --primary-color-light: #383a3c;
  --toggle-color: #fff;
  --text-color: #ccc;
  --dark-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
