/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
  margin-top: 50px; /* Adjust to make space for the TopBar */
}

.left-column {
  flex: 2;
  display:flex;
  align-items:flex-end;
  overflow-y: auto;
  padding-right: 20px;
  
  margin-left: 250px; /* Adjust to make space for the Navbar */
  height: 100%;
}

.right-column {
  flex: 1;
  width:310px;
  position: sticky;
  top: 50px; /* Adjust to make space for the TopBar */
  margin-left: auto;
}
/* 
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px; Adjust as needed
  z-index: 1000;
}

.topbar {
  position: fixed;
  top: 0;
  left: 250px; 
  right: 0;
  height: 50px; 
  z-index: 1000;
} */

.calendar-history {
  position: sticky;
  /* top: 50px; Adjust to make space for the TopBar */
}
