
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
  margin-top: 50px; 
}

.left-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
  padding: 20px;
  margin-left: 250px;
  height: 100%;
  max-width: 60%; 
}

.right-column {
  flex: 1;
  position: fixed;
  right: 10px;
  width: 25%;
  height: 100%;
  padding-bottom: 2rem;
  top: 3rem; 
  margin-left: auto;
}

@media screen and (max-width: 1200px) {
  .left-column {
      margin-left: 200px;
      max-width: 55%;
  }
  
  .right-column {
      right: 0;
      width: 30%;
  }
}

@media screen and (max-width: 992px) {
  .left-column {
      margin-left: 150px;
      max-width: 50%; 
  }
  
  .right-column {
      right: 0;
      width: 35%;
  }
}

@media screen and (max-width: 768px) {
  .left-column {
      margin-left: 100px;
      max-width: 45%;
  }
  
  .right-column {
      right: 0;
      width: 100%;
      position: relative;
      top: 0;
  }
}

@media screen and (max-width: 576px) {
  .left-column {
      margin-left: 50px;
      max-width: 100%;
  }
  
  .right-column {
      display: none;
  }
}
.top-rated-courses {
  height: calc(100vh - 250px); 
  overflow-y: auto;
}
