
.calendar-container {
    position: absolute;
    top: 80px; /* Adjust as necessary */
    right: 20px; /* Adjust as necessary */
    background-color: var(--sidebar-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px; /* Reduced padding */
    max-height: 400%; /* Set a maximum height */
    overflow-y: auto; /* Add vertical scroll if content exceeds the height */
    width: 25%;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .calendar-month-year {
    font-weight: bold;
  }
  
  .calendar-nav {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .calendar-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .calendar-table th, .calendar-table td {
    padding: 5px; /* Reduced padding */
    border-radius: 50%;
  }
  
  .calendar-table tbody td {
    cursor: pointer;
}

.calendar-table tbody td.selected {
    background-color:#a15cf3;
    color: #fff;
  }
  
  .calendar-table tbody td.range {
    background-color: #e0c7f5;
  }
  
  .calendar-table tbody td.current {
    background-color: #6a0dad; /* Adjusted color for the current date */
    color: #fff;
  }
  